<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque esse recusandae a deleniti explicabo enim aspernatur error ad omnis in, pariatur voluptatum. Atque voluptas minima fuga nam ab distinctio perferendis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque esse recusandae a deleniti explicabo enim aspernatur error ad omnis in, pariatur voluptatum. Atque voluptas minima fuga nam ab distinctio perferendis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque esse recusandae a deleniti explicabo enim aspernatur error ad omnis in, pariatur voluptatum. Atque voluptas minima fuga nam ab distinctio perferendis!</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>